# Clock in platform settings
PLATFORM_URL=url
PLATFORM_USER=user
PLATFORM_PASS=pass
PLATFORM_EXTRA=

OCEAN_URL=url
USER=user
PASS=pass
LAT=0.0
LON=0.0

# Telegram
TELEGRAM_TOKEN=token
TELEGRAM_CHAT_ID=id

#Postgres
POSTGRES_PORT=6001
POSTGRES_PASSWORD=root
ADMINER_PORT=6002

#DB
DATABASE_URL=postgresql://postgres:root@postgres/postgres

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=955cf15a1cbb705520b374636055ab20
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###
