parameters:
    level: 1
    checkMissingIterableValueType: false
    paths:
        - src
    universalObjectCratesClasses:
        - DemigrantSoft\Infrastructure\Service\CheckIn\ClientData
    ignoreErrors:
        -
          message: '#Cannot call method [a-zA-Z\\]+\(\) on (SQLite3Stmt|SQLite3Result)\|false#'
          path: %currentWorkingDirectory%/src/Infrastructure/*