parameters:
    level: 1
    checkMissingIterableValueType: false
    paths:
        - src
    universalObjectCratesClasses:
        - DemigrantSoft\ClockInBot\Domain\Model\UserClientData\UserClientData